body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
}

header {
    background-color: lightblue;
}

main {
    background-color: white;
    font-size: 120%;
}

footer {
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}

p {
    line-height: 1.6;
}

/* Bước 3 */
ul {
    list-style-type: square;
}

/* Bước 4 */
nav {
    background-color: lightgray;
    display: block;
    width: 80%;
}

/* Bước 5 */
nav li {
    display: inline-block;
    width: 10%;
}

/* Bước 6 */
.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

/* Bước 7 */
.grid img {
    width: 100%;
}

/* Bước 8 + 9 */
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 20px;
}

/* Skip Link */
.skip-link {
    position: absolute;
    left: -999px;
    background: black;
    color: white;
    padding: 8px;
    text-decoration: none;
}

.skip-link:focus {
    left: 10px;
    top: 10px;
}
